@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(127, 128, 128);
}

header{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

header h1{
    font-family: Roboto;
    color: white;
    margin: 20px;
}

/* CARTES */

#container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#pantalla{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#temporizador{
  color: white;
  margin-top: 20px;
}

/* prova */

.flip-card, .flip-card1, .flip-card2, .flip-card3, .flip-card4, .flip-card5 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-toggle {
  transform: rotateY(180deg);
} 
 
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 255, 255);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back img {
  height: 200px;
}

/*  */

.flip-card-trobada {
  background-color: lightgreen;
  color: white;
  transform: rotateY(180deg);
}

/* .button, .button1{
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: 4px 4px 3px #000000;
  -moz-box-shadow: 4px 4px 3px #000000;
  box-shadow: 4px 4px 3px #000000;
  text-shadow: 1px 1px 3px #000000;
  border: solid #571f38 0px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#000000));
  background: -moz-linear-gradient(top, #e6e6e6, #000000);
  margin: 1em;
}
.button:hover {
  background: #9a73bf;
}

.button2 {
  display: flex;
  justify-content: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#000000));
  background: -moz-linear-gradient(top, #e6e6e6, #000000);
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: 4px 4px 3px #000000;
  -moz-box-shadow: 4px 4px 3px #000000;
  margin-left: 20em;
  margin-right: 20em;
} */